# PORT=8000
# MONGODB_URI=mongodb+srv://hitesh:your-password@cluster0.lxl3fsq.mongodb.net
# CORS_ORIGIN=*
# ACCESS_TOKEN_SECRET=chai-aur-code
# ACCESS_TOKEN_EXPIRY=1d
# REFRESH_TOKEN_SECRET=chai-aur-backend
# REFRESH_TOKEN_EXPIRY=10d

# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=


# PORT=8000
# CORS_ORIGIN=*

# ACCESS_TOKEN_SECRET=gj24y8b4gu8yh4h3bhb84gjhbu4y7bwjhuyuh2ji
# ACCESS_TOKEN_EXPIRY=1d

# REFRESH_TOKEN_SECRET=kjb43hbj453r5hi8bje65hb4j20jbf
# REFRESH_TOKEN_EXPIRY=10d

# MONGODB_URI=mongodb+srv://umakant3525:umakant3525@cluster0.zn5ekhe.mongodb.net

# CLOUDINARY_CLOUD_NAME=videotube1 
# CLOUDINARY_API_KEY=995954581912145 
# CLOUDINARY_API_SECRET=1XBHq3VoXQ-pBBj4G25JbU5B868 
